.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group .feedback {
    padding-left: 5px;
    font-size: 12px;
}

.form-group .feedback.valid {
    color: green;
}

.form-group .feedback.invalid {
    color: red;
}

.form-group input.invalid {
    border: 1px solid red;
}

.form-group input.valid {
    border: 1px solid green;
}