/*Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template*/


body {
    margin: 0%;
    font-family: sans-serif;
}

.header {
    width: 100%;
}

.container-1 {
    background-color: #22c55e;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
    padding: 14px 40px;
    color: white;
    text-align: center;
    align-items: center;
}

.top-1,
.top-2 {
    display: flex;
    width: 50%;
}

.top-2 {
    justify-content: flex-end;
}

.fb,
.ins,
.twi,
.yt {
    width: 5%;
}

.container-1 a {
    text-decoration: underline;
    color: white;
}

@media (max-width: 700px) {

    .fb,
    .ins,
    .twi,
    .yt {
        width: 15%;
    }
}

.container-2 {
    display: flex;
    padding: 40px 40px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    font-weight: bold;
    font-size: 20px;
}


.container-2 a,
container-3 a {
    color: black;
    text-decoration: none;
}

.bottom-1 {
    display: flex;
    width: 20%;
}

.bottom-1 p {
    width: 100%;
    text-align: center;
}

.bottom-1 p i {
    padding: 0 3px;
}

.bottom-2 {
    display: flex;
    width: 50%;
}

.bottom-2 p {
    width: 15%;
    text-align: center;
    font-size: 19px;
}

.bottom-2 p i {
    padding: 0 3px;
    font-size: 15px;
}

.bottom-3 {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.bottom-3 p{
    width: 50%;
}

.bottom-3 p i {
    padding: 0 5px;
}

.container-1 div p,
.container-2 div p {
    margin: 0;
}

.container-2 div p a:hover {
    text-decoration: underline;
}

.container-2 div p {
    height: 22px
}

.menu2 {
    display: none;
}

.container-3 {
    display: flex;
    padding: 40px 40px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: none;
}

.bottom-4 {
    display: flex;
    /*width: 20%;*/
}

.bottom-4 a {
    text-decoration: none;
    color: black;
}

.user-dropdown {
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 0;
    font-size: 19px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 22px;
}

.dropbtn i {
    padding: 0 3px;
    font-size: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.user-dropdown:hover .dropbtn {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 950px;
    position: relative;
    transition: transform 0.3s ease;
}

.modal.show {
    opacity: 1;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-container {
    display: flex;
}

.side-nav {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
}

.nav-item {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.nav-item.active {
    background-color: #ddd;
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}


@media (max-width: 1280px) {
    .top-1 {
        width: 80%;
    }

    .top-2 {
        width: 100%;
    }

    .container-1 {
        font-size: 8px;
    }

    .container-2 {
        padding: 5px 5px;

    }

    .bottom-1,
    .bottom-2,
    .bottom-3,
    .dropbtn {
        width: 33.33%;
        font-size: 10px;
    }
    
    .bottom-2 p{
        width: 33.33%;
        font-size: 10px;
    }

    .bottom-2 p i{
        font-size: 9px;
    }
}