@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Adjusted side navigation bar styles */
.navbar {
    position: fixed; /* Keep it fixed in the viewport */
    top: 0;
    left: 0;
    width: 3%; /* Adjust as needed */
    height: 100vh; /* Full height */
    background: black;
    color: white;
    overflow: hidden;
    transition: width 0.5s linear; /* Smooth transition for width change */
    z-index: 999;
}

/* Expand side navigation on hover */
.navbar:hover {
    width: 15%; /* Adjust as needed */
}


.main{
    padding: 0;
    position: relative;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
}

.main li{
    padding: 6%;
    margin: 16% 12px;
    border-radius: 8px;
    transition: all 0.5s;
}

.main div:hover,
.selected{
    background-color: gray;
    border-radius: 20px
}

.main div a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 28%;
    height: fit-content;
}

.main div a span{
    overflow: hidden;
}

.main a i{
    font-size: 20px;
}

.bar{
    display: flex;
}

.bar i{
    width: 10%;
}

.bar p{
    width: 90%;
}

.main div{
    padding: 10px;
    margin: 5px 0;
}
